body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #b31212;
}

.produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.produto {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

button {
    background: #b31212;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #8e0e0e;
}

#carrinho {
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

